.text_block {
  font-size: 20px;
  font-weight: 900;
  width: 350px;
  height: 150px;
  line-height: 150px;
  text-align: center;
}

.image {
  width:100%; /*width of your image*/
  height:100%; /*height of your image*/
  content:url('../pictures/01.jpg');
  margin:1.0%;
  z-index:999;
}


.image:hover {
  width:70%; /*width of your image*/
  height:70%; /*height of your image*/
  content:url('../pictures/02.jpg');
 }

.text_block:hover {
  background-color: grey;
}

.seat {
  fill: #96f542;
  stroke-width: 1.5;
  stroke: grey;
}

.seat:hover {
  r: 3%;
}

.seat.vip {
    fill: #42cef5;
}

.seat.blocked {
    fill: grey;
}

.seat.blocked:hover {
  r: 1.5%;
}